* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto+Flex:opsz@8..144&display=swap');

body html {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #D66853;
}

header {
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}

h1 {
    color: #364156;
}

h2 {
    text-align: center;
    color: #364156;
}

footer {
    color: #364156;
    font-family: 'Noto Sans JP', sans-serif;
}

/*img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
} */

.pimg1 {
    background-image: url(./images/places/stairs.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    width: 100%;

    /* fixed = parallax */

    background-attachment: fixed;
}

.pimg2 {
    background-image: url(./images/places/yamaView.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}

.section-dark {
    background-color: black;
    height: 5px;
}

.long {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    font-family: 'Roboto Flex', sans-serif;
}

@supports (display: grid) {
    @media screen and (min-width: 400px) {
        .myGrid {
    display: grid;
    width: 400px;
    justify-content: center;
    background-color: #364156;
    grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                    "box1 box2"
                    "box3 box4"
                    "box5 box6"
                    "box7 box8";
    }
    }

    @supports (display: grid) {
        @media screen and (min-width: 800px) {
            .myGrid {
                display: grid;
                width: 800px;
                justify-content: center;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                    "box1 box3 box5 box7"
                    "box2 box4 box6 box8";
            }
        }
    }
}




.box1 {
    grid-area: box1;
    background-image: url(./images/foods/yakitori.JPG);
    background-size: cover;
    background-position: center;
    height: calc(8em + 2vmin);
}

.box2 {
    grid-area: box2;
    text-align: center;
    color: white;
    height: calc(8em + 2vmin);
}

.box3 {
    grid-area: box3;
    text-align: center;
    color: white;
    height: calc(8em + 2vmin);
}

.box4 {
    grid-area: box4;
    background-image: url(./images/foods/soba.JPG);
    background-size: cover;
    background-position: center;
    height: calc(8em + 2vmin);
}

.box5{
    grid-area: box5;
    background-image: url(./images/foods/misoRamen.JPG);
    background-size: cover;
    background-position: center;
    height: calc(8em + 2vmin);
}

.box6 {
    grid-area: box6;
    text-align: center;
    color: white;
    height: calc(8em + 2vmin);
}

.box7 {
    grid-area: box7;
    text-align: center;
    color: white;
    height: calc(8em + 2vmin);
}

.box8{
    grid-area: box8;
    background-image: url(./images/foods/cherry.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
     height: calc(8em + 2vmin);
}