* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto+Flex:opsz@8..144&display=swap');

body html {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #D66853;
}

header {
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}

h1 {
    color: #364156;
}

h2 {
    text-align: center;
    color: #364156;
}

footer {
    color: #364156;
    font-family: 'Noto Sans JP', sans-serif;
}

/*img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
} */

.pimg1 {
    background-image: url(./images/places/stairs.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;

    /* fixed = parallax */

    background-attachment: fixed;
}

.pimg2 {
    background-image: url(./images/places/yamaView.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}

.section-dark {
    background-color: black;
    height: 5px;
}

.long {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    font-family: 'Roboto Flex', sans-serif;
}

.myGrid {
    /* border: solid 3px black; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 50%;
    width: 80%;
    max-height: 500px;
    max-width: 800px;
    min-height: 300px;
    min-width: 700px;
    text-align: center;
}

.myGrid div {
    /* border: solid 3px black; */
    background-color: #212D40;
}

.myGridPlaces {
    /* border: solid 3px black; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 50%;
    width: 80%;
    max-height: 500px;
    max-width: 800px;
    min-height: 300px;
    min-width: 700px;
    text-align: center;
}

.myGridPlaces div {
    /* border: solid 3px black; */
    background-color: #212D40;
}

.col1 {
    display: grid;
    grid-template-rows: 50% 50%;
}

.col2 {
    display: grid;
    grid-template-rows: 50% 50%;
}

.col3 {
    display: grid;
    grid-template-rows: 50% 50%;
}

.col4 {
    display: grid;
    grid-template-rows: 50% 50%;
}

.box1 {
    background-image: url(./images/foods/yakitori.JPG);
    background-size: cover;
    background-position: center;
}

.box2 {
    text-align: center;
    color: white;
}

.box3 {
    text-align: center;
    color: white;
}

.box4 {
    background-image: url(./images/foods/soba.JPG);
    background-size: cover;
    background-position: center;
}

.box5{
    background-image: url(./images/foods/misoRamen.JPG);
    background-size: cover;
    background-position: center;
}

.box6 {
    text-align: center;
    color: white;
}

.box7 {
    text-align: center;
    color: white;
}

.box8{
    background-image: url(./images/foods/cherry.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.box9{
    background-image: url(./images/places/yamaView.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.box10{
    /* background-image: url(./images/places/ginzanMain.JPG); */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.box11{
    /* background-image: url(./images/places/kitsune.JPG); */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.box12{
    background-image: url(./images/places/ginzanMain.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.box13{
    background-image: url(./images/places/winterLights.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.box14{
    /* background-image: url(./images/foods/cherry.JPG); */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.box15{
    /* background-image: url(./images/foods/cherry.JPG); */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.box16{
    background-image: url(./images/places/kitsune.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.hideScroll::-webkit-scrollbar {
    display: none;
}

.hideScroll2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}